<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AuthApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= custom_bootstrap_flash %>
    <%= render partial: "common/header" %>
    <div class="container-fluid p-3 pt-5">
      <%= yield %>
    </div>
  </body>
</html>
